*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.ui-autocomplete-loading {
    background: blue url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  /*.ui-menu-item-wrapper li{
    display:none;
  }
  .ui-menu-item-wrapper{
    display: none;
  }*/

  .ui-helper-hidden-accessible {
      display: none;
  }

  .ui-menu {
      background-color: gray;
  }

  .ul, li {
    list-style: none;
    list-style-type: none;
  }
  